@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

.posts_top_cont{
  overflow: hidden;
  border: transparent;
}

.posts_top_right{
  float: right;
  padding-right: 15px;
}

.posts_page_cont h1{
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  text-decoration: underline;
}

.posts_page_cont button{
  display: inline-block;
  text-align: center;
  align-content: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition: all 0.2s;
  transition-duration: .3s;
  border: 2px solid black;
  letter-spacing: 2px;
  width: 10rem;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 600;
  text-align: center;
  color: black;
  background-color: aqua;
  height: 48px;
  margin-bottom: 1rem;  
  }
 
.posts_page_cont button:hover {
  transform: scale(1.04);
  background-color: red;
}


.posts_container{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  height: 115vh;
  width:100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
}


.posts_card  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto auto auto;
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  height: 300px;
  width: 350px;
  border-radius: 4px;
  background: #f2f2f2;
  color: black;
  padding: .5rem;  
}

.posts_card h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
  font-size: 1.25rem;
  text-decoration: underline;
}

.posts_card p {
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
  font-size: 1rem;
}

.posts_card:hover{
    cursor: pointer; 
}