
.dashboard {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    background: #f2f2f2;
    padding: 2rem;
    margin-bottom: 5rem;
    overflow: scroll;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 550px;
    width: 1000px;
}

.dashboard main th{
    text-decoration: underline;
}
.dashboard main table td {  
    padding: 0.8rem;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.dashboard_container .btn{
    display: inline-block;
    text-align: center;
    align-content: center;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition: all 0.2s;
    transition-duration: .3s;
    border: 2px solid black;
    letter-spacing: 2px;
    width: 10rem;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;
    color: black;
    background-color: aqua;
    height: 48px;
    text-decoration: none;
    margin-bottom: .75rem;

}

.starting_dashboard {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starting_dashboard_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    background: #f2f2f2;
    padding: 2rem;
    
    margin-bottom: 5rem;
    overflow: scroll;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: 550px;
    width: 1000px;
}